<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': getStatus(),
                'list-group-item-danger': !getStatus()}"
    style="transition:ease background-color .2s">
  <div class="row">
    <div class="col-sm-6 col-sm-6-0 margin-auto">
      <h4><a [routerLink]="'../appareils/' + id" [ngStyle]="{'color': getColor()}">{{ appareilName }}</a></h4>
    </div>
    <div class="col-sm-6 col-sm-6-0 margin-auto align-middle">
      <div class="col-sm-9 d-inline-block align-middle">
        <div class="col-sm-6 col-sm-6-0 d-inline-block no-padding align-middle">Status : {{ getStatus() ? "Allumé" : "Éteint" }}</div>
        <div class="col-sm-6 col-sm-6-0 d-inline-block no-padding align-middle"><a [routerLink]="'../appareils/'" (click)="onRemove(indexOfAppareil)">Supprimer</a></div>
      </div>
      <div class="col-sm-3 col-sm-3-0 d-inline-block align-middle no-padding">
        <button style="width:40px;height:1rem;background-color:rgba(255,255,255,.5);border-radius:5px;
             border:1px solid rgba(0,0,0,.5);float:right;padding:0;margin-top:6px;"
                 (click)="onToggle()">
          <div style="width:66%;height:100%;border:1px solid rgba(0,0,0,.5);border-radius:5px;transition:ease margin-left .2s;"
               [ngStyle]="{'background-color': getColor(), 'margin-left': getStatus() ? '34%' : '0px'}"></div>
        </button>
      </div>
    </div>
  </div>
</li>
