<h2>{{appareilName}}</h2>
<div>Status: <span [ngStyle]="{'color': getColor()}">{{appareilStatus ? "Allumé " : "Éteint "}}</span>
  <button style="width:40px;height:1rem;background-color:rgba(255,255,255,.5);border-radius:5px;
           border:1px solid rgba(0,0,0,.5);padding:0;margin-top:6px;"
          (click)="toggleStatus()">
  <div style="width:66%;height:100%;border:1px solid rgba(0,0,0,.5);border-radius:5px;transition:ease margin-left .2s;"
       [ngStyle]="{'background-color': getColor(), 'margin-left': getStatus() ? '34%' : '0px'}"></div>
  </button>
</div>
<a routerLink="/appareils">Retour à la liste</a>
