<h2>Authentification</h2>

<input type="text" name="authname" id="authname">
<span *ngIf="authStatus; then signout; else signin"></span>


<input type="submit" value="" form="authname">


<ng-template #signin><button class="btn btn-success" (click)="onSignIn()">Se connecter</button></ng-template>
<ng-template #signout><button class="btn btn-danger" (click)="onSignOut()">Se déconnecter</button></ng-template>


<!--
<form [formGroup]="myform" (ngSubmit)="onSignIn()">

  <div class="form-group"
       [ngClass]="{
        'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
        'has-success': firstName.valid && (firstName.dirty || firstName.touched)
      }">
    <label>First Name</label>
    <input type="text"
           class="form-control"
           formControlName="firstName"
           required>
  </div>
  <button type="submit"
          class="btn btn-primary">Submit
  </button>
</form>
<pre>{{myform.value | json}}</pre>
<p>{{authName}}</p>
-->
