
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="">Home</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="auth">Authentification</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="appareils">Appareils</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="edit">Nouvel appareil</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="users">Utilisateurs</a></li>
    </ul>
    <div class="navbar-right">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-link">Vous êtes connecté depuis {{secondes}} secondes !</li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
