<h2>Mes appareils</h2>
<p>Mis à jour : {{ lastUpdate | async | date: 'EEEE dd/MM/yyyy' | uppercase }}</p>
<ul class="list-group">
  <app-appareil *ngFor="let appareil of appareils; let i = index;"
                [indexOfAppareil]="i"
                [appareilName]="appareil.appareilName"
                [appareilStatus]="appareil.appareilStatus"
                [id]="appareil.id"></app-appareil>
</ul>
<div class="row" *ngIf="appareils">
  <div class="col-sm-4 col-sm-4-0 padding-1">
    <button class="btn btn-success"
            (click)="onAllumer()"
            [disabled]="!isAuth">Tout allumer</button>
  </div>
  <div class="col-sm-4 col-sm-4-0 padding-1 text-center">
    <button class="btn btn-warning"
            (click)="onToggle()"
            [disabled]="!isAuth">Tout changer</button>
  </div>
  <div class="col-sm-4 col-sm-4-0 padding-1 text-right">
    <button class="btn btn-danger"
            (click)="onEteindre()"
            [disabled]="!isAuth">Tout éteindre</button>
  </div>
</div>
<button class="btn btn-success"
        (click)="onSave()">Enregistrer</button>
<button class="btn btn-primary"
        (click)="onFetch()">Charger</button>
