@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

@media (min-width: 0){
  .col-sm-6.col-sm-6-0{
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.no-padding {padding:0!important;}
.padding-top-1{padding-top:1rem!important;}
.padding-bottom-1{padding-bottom:1rem!important;}
.padding-left-1{padding-left:1rem!important;}
.padding-right-1{padding-right:1rem!important;}
.padding-1{padding:1rem!important;}
.padding--5{padding:.5rem!important;}
.no-margin{margin:0!important;}
.margin-top-1{margin-top:1rem!important;}
.margin-bottom-1{margin-bottom:1rem!important;}
.margin-left-1{margin-left:1rem!important;}
.margin-right-1{margin-right:1rem!important;}
.margin-1{margin:1rem!important;}
.margin--5{margin:.5rem!important;}
.margin-auto{margin:auto!important;}
.empty-link{cursor:pointer;}
